<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
</head>
<body>

<h1 style="text-align:center;">Farmer Dashboard</h1>

<h3 style="text-align:center;">
    Welcome 👋
</h3>

<hr>

<div style="text-align:center;">

    <a href="/crops">
        <button>Crop Management</button>
    </a>

    <br><br>

    <a href="/fertilizer">
        <button>Fertilizer Recommendation</button>
    </a>

    <br><br>

    <a href="/weather">
        <button>Weather Information</button>
    </a>

    <br><br>

    <a href="/admin/dashboard">
        <button>Admin Panel</button>
    </a>

    <br><br>

    <a href="/logout">
        <button>Logout</button>
    </a>

</div>

</body>
</html>